snippet cs "Comment Section"
/* ${1:Comment Section}
	========================================================================== */${0}
endsnippet

snippet cb "Comment Block"
/**
 * $1
 */
endsnippet

snippet cf "Comment Footnote"
/* ${1:1} */
endsnippet

