<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>florian.bluetooth</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>95174EFF-4B6F-4AA7-968F-0EF31483B480</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A92501C5-A5C6-425B-8A6E-1C18C3173C12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Florian Pellet</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bluetooth Toggle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bluetooth</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>if [[ $(./blueutil status) == 'Status: on' ]]; then
	arg='off'
	title='Bluetooth is ON'
	sub='Switch bluetooth off'
else
	arg='on'
	title='Bluetooth is OFF'
	sub='Switch bluetooth on'
fi

echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;&lt;item uid='fbtt' arg='$arg' valid='yes'&gt;&lt;title&gt;$title&lt;/title&gt;&lt;subtitle&gt;$sub&lt;/subtitle&gt;&lt;/item&gt;&lt;/items&gt;"</string>
				<key>subtext</key>
				<string>Toggle bluetooth on/off</string>
				<key>title</key>
				<string>Bluetooth toggle</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>95174EFF-4B6F-4AA7-968F-0EF31483B480</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"
if [[ $query == 'on' ]]; then
	./blueutil on
elif [[ $query == 'off' ]]; then
	./blueutil off
else
	if [[ $(./blueutil status) == 'Status: on' ]]; then
		./blueutil off
	else
		./blueutil on
	fi
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A92501C5-A5C6-425B-8A6E-1C18C3173C12</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>95174EFF-4B6F-4AA7-968F-0EF31483B480</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A92501C5-A5C6-425B-8A6E-1C18C3173C12</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>florianpellet.com</string>
</dict>
</plist>
