# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.atom-workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'atom-pane':
  # Focus panes within empty pane
  'ctrl-w ctrl-h': 'window:focus-pane-on-left'
  'ctrl-w h': 'window:focus-pane-on-left'
  'ctrl-w left': 'window:focus-pane-on-left'
  'ctrl-w ctrl-l': 'window:focus-pane-on-right'
  'ctrl-w l': 'window:focus-pane-on-right'
  'ctrl-w right': 'window:focus-pane-on-right'
  'ctrl-w ctrl-k': 'window:focus-pane-above'
  'ctrl-w k': 'window:focus-pane-above'
  'ctrl-w up': 'window:focus-pane-above'
  'ctrl-w ctrl-j': 'window:focus-pane-below'
  'ctrl-w j': 'window:focus-pane-below'
  'ctrl-w down': 'window:focus-pane-below'
  'ctrl-w ctrl-w': 'window:focus-next-pane'
  'ctrl-w w': 'window:focus-next-pane'
  'ctrl-w ctrl-p': 'window:focus-previous-pane'
  'ctrl-w p': 'window:focus-previous-pane'

'atom-text-editor[mini]':
  'ctrl-u': 'editor:delete-to-beginning-of-line'
  'ctrl-w': 'editor:delete-to-beginning-of-word'

'atom-text-editor.vim-mode:not(.insert-mode)':
  # Split panes
  'ctrl-w s': 'pane:split-right'
  'ctrl-w i': 'pane:split-down'

  # Move panes
  'ctrl-w H': 'window:move-active-item-to-pane-on-left'
  'ctrl-w J': 'window:move-active-item-to-pane-below'
  'ctrl-w K': 'window:move-active-item-to-pane-above'
  'ctrl-w L': 'window:move-active-item-to-pane-on-right'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  # Split panes
  'ctrl-w s': 'pane:split-right'
  'ctrl-w i': 'pane:split-down'

  # Move panes
  'ctrl-w H': 'window:move-active-item-to-pane-on-left'
  'ctrl-w L': 'window:move-active-item-to-pane-on-right'
  'ctrl-w J': 'window:move-active-item-to-pane-above'
  'ctrl-w K': 'window:move-active-item-to-pane-below'

'atom-text-editor.vim-mode-plus.normal-mode':
  # vim-mode-plus shortcuts
  ':': 'vim-mode-plus-ex-mode:open'
  '!': 'vim-mode-plus-ex-mode:toggle-setting'

  # vim-surround
  'y s': 'vim-mode-plus:surround'
  'd s': 'vim-mode-plus:delete-surround-any-pair'
  'c s': 'vim-mode-plus:change-surround-any-pair'

'atom-text-editor.vim-mode-plus.visual-mode':
  # vim-surround
  'S': 'vim-mode-plus:surround'
