/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */


/* vim-mode-plus
   ========================================================================== */

atom-workspace.vim-mode-plus--pane-maximized .bottom.atom-dock-open atom-pane-container atom-pane {
  display: flex; // Prevent hiding lint errors on maximize pane
}

/* ex-mode
   ========================================================================== */

.command-mode-input atom-text-editor[mini].ex-mode-editor {
  background-color: transparent;
  margin: 0.375rem auto;
}

.command-mode-input {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

atom-text-editor.ex-mode-editor .scroll-view {
  left: 0.125rem !important; // Fix broken ex-mode mini editor positioning
}

/* xterm
   ========================================================================== */
.xterm.terminal {
  height: 100%;
}

.xterm-rows {
  padding: 1rem;
}
