/* Setup Operator typeface
   ========================================================================== */
atom-workspace {
  font-family: "Operator Mono SSm";
  -webkit-font-smoothing: antialiased; // Remove after 1.41.0 https://git.io/Je3E4
}

atom-workspace,
atom-text-editor {
  font-weight: 400;
  line-height: 1.6;
}

status-bar {
  font-size: 0.9em;
}

.syntax--js .syntax--entity.syntax--other.syntax--attribute-name, // language-javascript
.syntax--js .syntax--storage.syntax--modifier, // language-javascript
.syntax--comment,
.syntax--keyword.syntax--other,
.syntax--storage.syntax--type,
.syntax--punctuation.syntax--italic {
  font-style: italic;
}

.about {
  font-size: 1.15em;
}

/* vim-mode-plus
   ========================================================================== */
atom-workspace.vim-mode-plus--pane-maximized
  .bottom.atom-dock-open
  atom-pane-container
  atom-pane {
  display: flex; // Prevent hiding lint errors on maximize pane
}

/* ex-mode
   ========================================================================== */
.command-mode-input atom-text-editor[mini].ex-mode-editor {
  background-color: transparent;
  margin: 0.375rem auto;
}

.command-mode-input {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

atom-text-editor.ex-mode-editor .scroll-view {
  left: 0.125rem !important; // Fix broken ex-mode mini editor positioning
}

/* atom-terminal-tab
   ========================================================================== */
// Repair broken yellow from atom-terminal-tab + oceanic-next
terminal-view.themed .terminal .xterm-color-3,
terminal-view.themed .terminal .xterm-color-11 {
  color: #c4a000;
}
