<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>gonoodle.applicant</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>10AE98D0-59B6-4367-BECB-35B04CEA49D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99920F4C-F262-452B-957E-B46AE9F27FAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26613F8D-FBC0-4F08-BCEE-9A908B7156D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60CAA16A-05E8-490A-BBA9-9CE9349EEDCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32A2473F-A35D-41D8-B90C-23EFA18E3B39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D80D84B9-D00B-445F-AC56-E52BC8FCA4B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F55C862-4E06-4770-8327-8589DD05CBF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8DF425F-C30F-4B4D-A477-63943F198FF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93BCC2F5-6986-4716-97C7-C24C5B7C4A91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD58018C-DC39-4396-A00F-A04372220916</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDDEE0CA-8F21-4DE2-A786-4E83421C3CC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E01DB72-FC85-47A1-BFC4-DC494CE579C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF95B808-CB53-44B5-B33A-A63B2E99157D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B5A9EB5-4EC2-4BD9-B23C-DEB0EC500922</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F78D879F-28F4-44B1-91C2-EFB633F9BCFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C948DFE-6C0D-4444-B0B2-C3C25C23E614</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Calhoun</string>
	<key>description</key>
	<string>Paste an response to a job applicant.</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>GN Applicant</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gna reject</string>
				<key>subtext</key>
				<string>Paste response for a rejected applicant.</string>
				<key>text</key>
				<string>0. Applicant: Reject</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>93BCC2F5-6986-4716-97C7-C24C5B7C4A91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>Hi {query},

Thank you for your application to GoNoodle. We don’t think there’s a great fit at this very moment, but I encourage you to keep an eye on the “Careers” page on GoNoodle.com, and also keep us updated and consider re-applying as your skills and contributions to open source projects grow and expand.

Cheers,</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FD58018C-DC39-4396-A00F-A04372220916</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gna accept</string>
				<key>subtext</key>
				<string>Paste repsonse to an accepted applicant.</string>
				<key>text</key>
				<string>1. Applicant: Accept</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>32A2473F-A35D-41D8-B90C-23EFA18E3B39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>Hi {query},

I’m going to invite you to GoNoodle’s Slack. We use Slack for all of our internal communication. I’d love to chat with you about the position.

Cheers,</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D80D84B9-D00B-445F-AC56-E52BC8FCA4B2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>Hey {query}!

Rather than set up a time to chat, let’s just keep a conversation going in Slack. I’ll ask questions, and you can answer as you have time. Could be today, tomorrow, whenever you’re available. Sound good?</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4B5A9EB5-4EC2-4BD9-B23C-DEB0EC500922</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gna welcome</string>
				<key>subtext</key>
				<string>Paste text welcoming an applicant to Slack.</string>
				<key>text</key>
				<string>2. Applicant: Welcome</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CF95B808-CB53-44B5-B33A-A63B2E99157D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gna follow-up</string>
				<key>subtext</key>
				<string>Paste text to follow up with an applicant.</string>
				<key>text</key>
				<string>3. Applicant: Follow-up</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6F55C862-4E06-4770-8327-8589DD05CBF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>I’d love to learn more about you. Let’s just keep it as Slack text for now (most of our communication at GoNoodle is done via text). Tell me a bit more about yourself. What are you passionate about? What do you enjoy doing?</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D8DF425F-C30F-4B4D-A477-63943F198FF3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gna questions</string>
				<key>subtext</key>
				<string>Paste questions for applicant.</string>
				<key>text</key>
				<string>4. Applicant: Questions</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F78D879F-28F4-44B1-91C2-EFB633F9BCFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>- What are your primary responsibilities in your current position?
- Can you break down how comfortable you are with the following, on a scale from 1-10 (10 being expert): JavaScript, Backbone, Marionette, HTML, CSS, Ruby?
- Do you have any experience with JavaScript frameworks outside of Backbone Marionette?
- How would you describe your approach to writing maintainable CSS for a large application?
- Why are you looking to leave your current position? What interests you about GoNoodle, specifically?
- What do you like about your current position?
- What’s one area you consider yourself weak, but have a strong desire to learn and improve?
- Do you have any questions about GoNoodle or the team?
- What do you like to do for fun? Any interests or hobbies?
- How do you brainstorm? What are there methods or tools that help you generate ideas? How do you document these ideas?
- How do you collaborate at the beginning of a project? Who do you talk to? How do you gather more information?
- What shape do your ideas initially take? Words, sketches, wireframes, code?
- What is your favorite way of communicating with teammates? How do you adjust your communication style to work with others?
- What is your working style? Do you thrive on lots of feedback? Would you rather work out solutions on your own? How do you share work in progress?
- Can you discuss how you worked through an unexpected turn in a project, or how the assumptions and results didn’t match up?
</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3C948DFE-6C0D-4444-B0B2-C3C25C23E614</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>Thanks so much for the interview. I appreciate your taking the time to chat. There were a number of things that I liked about your application, unfortunately I don’t think there’s a great fit at this very moment. I would encourage you to keep an eye on the “Careers” page on GoNoodle.com, and also keep us updated and consider re-applying as your skills and contributions to open source projects grow and expand. All the best!</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>99920F4C-F262-452B-957E-B46AE9F27FAD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gna end</string>
				<key>subtext</key>
				<string>Paste text ending an applicant interview.</string>
				<key>text</key>
				<string>5a. Applicant: End</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>10AE98D0-59B6-4367-BECB-35B04CEA49D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gna trial</string>
				<key>subtext</key>
				<string>Paste text inviting an applicant to a trial.</string>
				<key>text</key>
				<string>5b. Applicant: Trial</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CDDEE0CA-8F21-4DE2-A786-4E83421C3CC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>Everyone that gets hired at GoNoodle goes through a paid trial process. You are given a project, which you can work on as you have time (could be an hour or two a night, could be on the weekend, whatever works for you). You’ll keep track of the hours you work, and invoice us at the end of your trial. Most people do this while still employed. You can expect the trial to last about a month (but it really depends on how much time you can put in). There is no deadline, it’s done when it’s done. How does that sound?</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1E01DB72-FC85-47A1-BFC4-DC494CE579C1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gna wrap</string>
				<key>subtext</key>
				<string>Paste text wrapping up conversation with applicant.</string>
				<key>text</key>
				<string>5c. Applicant: Wrap Up</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>26613F8D-FBC0-4F08-BCEE-9A908B7156D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>I really appreciate the time you’ve allowed for us to chat, {query}. I hope it’s been beneficial for you as well. For a next step, I’d like to converse with my team and share some of the insights you’ve provided. I will follow up with you again soon.
</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>60CAA16A-05E8-490A-BBA9-9CE9349EEDCA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>10AE98D0-59B6-4367-BECB-35B04CEA49D9</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>1E01DB72-FC85-47A1-BFC4-DC494CE579C1</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>26613F8D-FBC0-4F08-BCEE-9A908B7156D1</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>32A2473F-A35D-41D8-B90C-23EFA18E3B39</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>3C948DFE-6C0D-4444-B0B2-C3C25C23E614</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>4B5A9EB5-4EC2-4BD9-B23C-DEB0EC500922</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>60CAA16A-05E8-490A-BBA9-9CE9349EEDCA</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>6F55C862-4E06-4770-8327-8589DD05CBF6</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>93BCC2F5-6986-4716-97C7-C24C5B7C4A91</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>99920F4C-F262-452B-957E-B46AE9F27FAD</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>CDDEE0CA-8F21-4DE2-A786-4E83421C3CC2</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>CF95B808-CB53-44B5-B33A-A63B2E99157D</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>D80D84B9-D00B-445F-AC56-E52BC8FCA4B2</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>D8DF425F-C30F-4B4D-A477-63943F198FF3</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>F78D879F-28F4-44B1-91C2-EFB633F9BCFF</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>FD58018C-DC39-4396-A00F-A04372220916</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://davidcalhoun.me</string>
</dict>
</plist>
